.map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.ui {
  position: absolute;
  left: 5px;
  bottom: 5px;
  background-color: white;
  z-index: 2;
}

.ui > * {
  margin: 10px;
}